<a href="https://colab.research.google.com/github/HariniS11/Chicago_crime_analysis/blob/main/chicago.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df = pd.read_excel('/content/Crime_Data.xlsx')
df

BadZipFile: File is not a zip file

In [ ]:
df.isnull().sum()

ID                           0
Case Number                  0
Date                         0
Block                        0
IUCR                         0
Primary Type                 0
Description                  0
Location Description      1673
Arrest                       0
Domestic                     0
Beat                         0
District                     0
Ward                    336325
Community Area          334906
FBI Code                     0
X Coordinate              6912
Y Coordinate              6912
Year                         0
Updated On                   0
Latitude                  6912
Longitude                 6912
Location                  6912
dtype: int64

In [ ]:
df['Ward'].isnull().sum()
#334389 208698
df['Ward'].shape

(543087,)

In [ ]:
334389  + 208698
599999 - 334389

265610

In [ ]:
df['Location Description'].describe()

count     548326
unique       210
top       STREET
freq      166056
Name: Location Description, dtype: object

In [ ]:
df['Location Description'].fillna('STREET', inplace=True)

<ipython-input-47-d186e7315d66>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Location Description'].fillna('STREET', inplace=True)

In [ ]:
df['Location Description'].describe()

count     549999
unique       210
top       STREET
freq      167729
Name: Location Description, dtype: object

In [ ]:
#################

In [ ]:
df['X Coordinate'].fillna(df['X Coordinate'].mean(), inplace=True)

<ipython-input-50-0bf4ee0e18f1>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['X Coordinate'].fillna(df['X Coordinate'].mean(), inplace=True)

In [ ]:
df['X Coordinate'].describe() #1.164788e+06 , 1164788.0

count    5.499990e+05
mean     1.164788e+06
std      1.878319e+04
min      0.000000e+00
25%      1.153854e+06
50%      1.166183e+06
75%      1.176389e+06
max      1.205119e+06
Name: X Coordinate, dtype: float64

In [ ]:
##################
df['Y Coordinate'].fillna(df['Y Coordinate'].mean(), inplace=True)

<ipython-input-52-bdc303ff1e9a>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Y Coordinate'].fillna(df['Y Coordinate'].mean(), inplace=True)

In [ ]:
df['Y Coordinate'].isnull().sum()

0

In [ ]:
##################
df['Latitude'].fillna(df['Latitude'].mean(),inplace = True) # 41.845388

<ipython-input-55-9f7b83c28e4a>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Latitude'].fillna(df['Latitude'].mean(),inplace = True) # 41.845388

In [ ]:
df['Latitude'].describe()

count    549999.000000
mean         41.845388
std           0.096618
min          36.619446
25%          41.773204
50%          41.857362
75%          41.909314
max          42.022878
Name: Latitude, dtype: float64

In [ ]:
###############
df['Longitude'].fillna(df['Longitude'].mean(),inplace = True)

<ipython-input-57-3e77b6b10951>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Longitude'].fillna(df['Longitude'].mean(),inplace = True)

In [ ]:
df['Longitude'].describe()

count    549999.000000
mean        -87.670757
std           0.067407
min         -91.686566
25%         -87.710552
50%         -87.665570
75%         -87.628136
max         -87.524532
Name: Longitude, dtype: float64

In [ ]:
############
df['Location'].describe()
df['Location'].isnull().sum()

6912

In [ ]:
(6912 / 599999) * 100

1.1520019200032001

In [ ]:
df.dropna(subset = ['Location'], inplace = True)

In [ ]:
df['Location'].isnull().sum()

0

In [ ]:
df = df.drop('Ward', axis=1)

In [ ]:
df = df.drop('Community Area', axis=1)

In [ ]:
df.isnull().sum()

ID                      0
Case Number             0
Date                    0
Block                   0
IUCR                    0
Primary Type            0
Description             0
Location Description    0
Arrest                  0
Domestic                0
Beat                    0
District                0
FBI Code                0
X Coordinate            0
Y Coordinate            0
Year                    0
Updated On              0
Latitude                0
Longitude               0
Location                0
dtype: int64

In [ ]:
df.to_excel('chicago_cleaned_data.xlsx')

In [ ]:
df['Updated On']

1        2023-11-18 15:39:49
2        2023-11-18 15:39:49
3        2023-11-18 15:39:49
4        2023-12-09 15:41:24
6        2023-11-04 15:40:18
                 ...
549994   2015-08-17 15:03:40
549995   2015-08-17 15:03:40
549996   2015-08-17 15:03:40
549997   2015-08-17 15:03:40
549998   2015-08-17 15:03:40
Name: Updated On, Length: 543087, dtype: datetime64[ns]

In [ ]:
df['Case Number'].nunique()

542522

<class 'pandas.core.frame.DataFrame'>
Index: 543087 entries, 1 to 549998
Data columns (total 20 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   ID                    543087 non-null  int64
 1   Case Number           543087 non-null  object
 2   Date                  543087 non-null  datetime64[ns]
 3   Block                 543087 non-null  object
 4   IUCR                  543087 non-null  object
 5   Primary Type          543087 non-null  object
 6   Description           543087 non-null  object
 7   Location Description  543087 non-null  object
 8   Arrest                543087 non-null  bool
 9   Domestic              543087 non-null  bool
 10  Beat                  543087 non-null  int64
 11  District              543087 non-null  int64
 12  FBI Code              543087 non-null  object
 13  X Coordinate          543087 non-null  float64
 14  Y Coordinate          543087 non-null  float64
 15  Year                  543087 non-null  int64
 16  Updated On            543087 non-null  datetime64[ns]
 17  Latitude              543087 non-null  float64
 18  Longitude             543087 non-null  float64
 19  Location              543087 non-null  object
dtypes: bool(2), datetime64[ns](2), float64(4), int64(4), object(8)
memory usage: 79.8+ MB

In [ ]:
df

NameError: name 'df' is not defined